.OrderModal{
     position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    /* Розовый цвет фона */
    padding: 20px;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;

    @media screen and (min-width: 1024px) {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 700px;
    }
}


.OrderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.OrderItems {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
}

.OrderItem {
    display: flex;
    margin-bottom: 10px;
}

.OrderItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.ItemDetails {
    flex: 1;
}

.ItemTitle {
    font-weight: bold;
    margin-bottom: 5px;
}

.OrderTotal {
    display: grid;
    justify-content: space-between;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 5px;
   
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

