.productimg{
    height: 150px;
    width: auto;
}

.productTitle{
   font-size: 115%;
    line-height: 130%;
    font-weight: normal;
    color: #000;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}
.productprice{
    font-size: 115%;
        line-height: 130%;
        font-weight: normal;
        color: #000;
        display: block;
        margin-left: 5px;
        margin-bottom: 5px;
}
.productquan{
    font-size: 100%;
        line-height: 100%;
        font-weight: normal;
        color: #000;
        display: block;
        margin-left: 5px;
}
.productbrand{
    display: none;
}