.productimg{
    border-radius: 10%;
    width: auto;
    height: auto;
}
.productTitle{
    margin-left: 10px;
    text-align: left;
    margin-top: 15px;
}
.productprice{
    margin-left: 10px;
    color: crimson;
    line-height: 1.35em;
    font-size: 20px;
    font-weight: 700;
}
.productquan{
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
}