.skatzz {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 1px 1px 1px;
}

.skatzz span {
    color: orangered;
}

.skatzz font {
    color: teal;
}

.altmenu {
    width: 100%;
    height: 50px;
    background: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #aba;
    @media screen and (min-width: 900px) {
        display: none;
    }
}

.altmenu ul {
    padding: 0;
    margin: 0;
}

.altmenu ul li {
    display: inline-block;
    /* width: 20.04%;
    margin-left: -4px; */
}

.altmenu ul li a {
    position: relative;
    display: block;
    padding: 10px 80px;
    text-align: center;
    font-size: 30px;
    color: #000;
    background: #fff;

    transition: 300ms;
}

.altmenu ul li a:hover {
    color: teal;
}

@media (max-width: 930px) {
    .altmenu ul li a {
        padding: 10px 10px;
    }
}
.basket {
    background: transparent;
    border: none;
    align-items: center;
    position: relative;
}
.cartCounter {
    background-color: red;
    /* Цвет фона для счетчика */
    color: white;
    /* Цвет текста для счетчика */
    border-radius: 50%;
    /* Для круглой формы */
    padding: 2px 6px;
    /* Внутренний отступ для красоты */
    position: absolute;
    /* Позиционирование относительно иконки корзины */
    top: 0;
    right: 0;
}