.navcontainer{
/* background-image: url(/src/images/1627003882_11-p-fon-dlya-saita-rozovii-11.png); */

position: fixed;
display: flex;
background-color: #fff;
padding: 10px;
width: 95%;
height: 80px;
top: 0;
align-items: center;
border-bottom: 1px coral;
}

.Burgermenu{
    position: absolute;
    left: 0px;
    width: 70%;
    height: 500px;
    background-color: white;
    top: 0;
    
}
.logo{
    display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid crimson;
        border-radius: 100%;
   
}
.logoimg {
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
.navright{
    display: flex;
}
.burger, .mobile-search{
    background: transparent;
    border: none;
        
}
.basket{
    background: transparent;
        border: none;
        margin-left: auto;
        /* position: relative; */
}
.mobilesearch {
    background: transparent;
    border: none;
    
}
.burger-title{
    text-align: center;
    margin-bottom: 15px;
}
.cartCounter {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: 20px;
    
}