
.navcontainer{
background-image: url(/src/images/1627003882_11-p-fon-dlya-saita-rozovii-11.png);
position: fixed;
z-index: 5;
display: flex;
background-color: #fff;
padding: 10px;
width: 100%;
height: 110px;
top: 0;
align-items: center;
border-bottom: 1px solid rgb(184, 181, 180);
@media screen and (min-width: 767px) {
            position: fixed;
            display: flex;
            background-color: #fff;
            padding: 10px;
            width: 100%;
            height: 135px;
            top: 0;
            align-items: center;
            border-bottom: 1px solid rgb(184, 181, 180);
    }
        @media screen and (min-width: 1124px) {
            position: fixed;
            display: flex;
            background-color: #fff;
            padding: 10px;
            width: 100%;
            height: 140px;
            top: 0;
            align-items: center;
            border-bottom: 1px solid rgb(184, 181, 180);
        }
}


.Burgermenu{
    position: absolute;
    left: 0px;
    width: 70%;
    height: 500px;
    background-color: white;
    top: 0;
}
.logo{
        display: block;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        background: transparent;

        @media screen and (min-width: 768px) {
                display: block;
                border-radius: 100%;
                margin-left: auto;
                background: transparent;
    
    @media screen and (min-width: 1124px) {
                    display: block;
                    border-radius: 100%;
                    background: transparent;
                    margin-left: 0px;
                    
           
        }
   
}
}
.logoimg {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    @media screen and (min-width: 768px) {
            height: 130px;
            width: 130px;
        }
}
.navright{
    display: flex;
    float: right;
    @media screen and (min-width: 1024px) {
        
        
    }
}
.burger{
    background: transparent;
    border: none;
    @media screen and (min-width: 1023px) {
            display: none;
        }
        
}
.basket{
    background: transparent;
        border: none;
        margin-right: 10px;
        padding: 0;
        width: 25px;
        /* position: relative; */
}
.mobilesearch {
    background: transparent;
    border: none;
    width: 25px;
    margin-right: 10px;
    padding: 0;
    
}
.burger-title{
    text-align: center;
    margin-bottom: 15px;
}
.cartCounter {
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 0px 7px;
    position:absolute;
    margin-left: 4px;
    top: 24px;
    z-index: -1;
    @media screen and (min-width: 768px) {
            top: 35px;
        }
}
.navsection{
   
    margin-right: auto;
    @media screen and (max-width: 1023px) {
            display: none;
        }
}
.navlist {
    display: flex;
    
    
}

.navlistitem {
    
    margin-right: 10px;
    padding: 0 0 9px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin: 0 auto;
}

.navlistlink {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.29;
    text-transform: uppercase;
    margin-left: 20px;
}
.navLink{
    margin: 15px;
}