.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.3s ease;
}

.Burgermenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    /* Tomato color */
}

.MenuPage{
position: absolute;
width: 100%;
height: 100%;
top: 0;
background-color: #b78d8d;
}

.menuTitle {
    color: #000000;
    /* White color */
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px 19px 20px;
}

.Burgermenu {
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.menuLink {
    text-decoration: none;
    color: #333333;
    margin: 10px 0;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    padding: 20px 20px 19px 20px;
    border-top: 1px solid;
}
.dropmenuLink{
    text-decoration: none;
        color: #333333;
        margin: 10px 0;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
        padding-left: 20px;
        border-bottom: 1px solid;
        border-top: 1px solid;
}
.menuLink:hover {
    color: #ff5733;
    /* Измените цвет при наведении по вашему вкусу */
}

.burgerClose {
    background-color: #e6afc0;
    /* Цвет кнопки закрытия бургера */
    color: #ffffff;
    border: 1px solid ;
    border-color: #d1d1d1;
    border-radius: 100%;
    padding: 1px;
    height: 50px;
    width: 50px;
    margin-left: 220px;
    top: 0;
    position: fixed;
}

.burgerClose:hover {
    background-color: #e64a2b;
    /* Измените цвет при наведении по вашему вкусу */
}
.dropdownMenu{
    
    padding-top: 30px;
    height: 50px;
    align-items: center;
    
      
}
.dropdownItem{
        text-decoration: none;
        color: #333333;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
       height: 50px;
}