.Burgermenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    /* Tomato color */
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.burgerTitle {
    color: #000000;
    /* White color */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

.menuItem0,
.menuItem1,
.menuItem2,
.menuItem3,
.menuItem4 {
    color: #000000;
    /* White color */
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.burgerClose{
      margin-left: 230px;
      position: absolute;
}