/* Filter.module.css */
.filterContainer {
    border: 1px solid #ccc;
    padding: 35px;
}

.filterContainer button.selected {
    background-color: #f44242;
    color: white;
}
.filterContainer button {
    margin: 5px;
    padding: 17px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 20%;
    cursor: pointer;
}